<a href="https://colab.research.google.com/github/NSankalp/Python-New/blob/Module-1/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [ ]:
a=int(input("num1"))
print(a)

num15
5

Add,subtract,multiply,divide

In [ ]:
a=int(input("num1"))
b=int(input("num2"))

c=a+b
print(c)
d=a-b
print(d)
e=a/b
print(e)
f=a*b
print(f)

num15
num210
15
-5
0.5
50


Conversion of one unit to another (such as hours to minutes, miles to km)

In [ ]:
#minutes to hours
a=int(input("minutes"))
c=a/60
print(c,"hours")
#km to mile
b=int(input("mile"))
km=b*1.60934
print(km)

minutes60
1.0 hours
mile2
3.2

Usage of mathematical functions

In [ ]:
import math

print(math.ceil(1.4))
print(math.floor(1.4))
print(math.fabs(1.4))
print(math.fmod(20,4))

2
1
1.4
0.0

Mathematical Calculator

In [ ]:
a=int(input("num1"))
b=int(input("num2"))
o=str(input("operators"))

if o == '+':
  print(a+b)
elif o == '-':
  print(a-b)
elif o == '*':
  print(a*b)
else:
  print(a/b)

num15
num23
operators/
1.6666666666666667

Grades of 5 different subjects

In [ ]:
sub1=int(input("maths"))
sub2=int(input("phy"))
sub3=int(input("chem"))
sub4=int(input("CSE"))
sub5=int(input("eng"))

grade=(sub1+sub2+sub3+sub4+sub5)
print(grade)

if grade>400 and grade <= 500:
  print("O")
elif grade>=300 and grade<400:
  print("A")
elif grade>=200 and grade<300:
  print("B")
elif grade>=100 and grade<200:
  print("c")
else:
  print("F")

maths100
phy100
chem100
CSE100
eng100
500
O

Even and odd numbers

In [ ]:
a=int(input("num1"))
b=int(input("num2"))
e=0
o=0

for i in range(a,b):
  if i%2==0:
    print(i)
    e=e+1

for j in range(a,b):
  if j%2!=0:
    print(j)
    o=o+1

print(e,o)

num11
num210
2
4
6
8
1
3
5
7
9
4 5

Factorial

In [ ]:
a=int(input("num1"))
f=1
for i in range(1,a+1):
  f=f*i
print(f)

num15
120

Fibinocci series

In [ ]:
a=int(input("range"))
n1=0
n2=1
print(n1)
print(n2)

for i in range(0,a-1):
  n3=n1+n2
  print(n3)
  n1=n2
  n2=n3

range7
0
1
1
2
3
5
8
13

Palindrome

In [ ]:
a=int(input("num1"))
rev=0
original=a

while(a>0):
  rem=a%10
  rev=(rev*10)+rem
  a=a//10

if original==rev:
  print("palindrome")
else:
  print("not a palindrome")

num1626
palindrome

Strong number

In [ ]:
sum=0
num=int(input("Enter a number:"))
temp=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==temp):
    print("strong number")
else:
    print("not a strong number")

Compound interest

In [ ]:
n=int(input("Principle amt"))

rate=int(input("Rate"))

years=int(input("Years"))

for i in range(years):

    n=n+((n*rate)/100)

print(n)

Using (.format)

In [ ]:
a=" 18 years "
b= "My name is Sankalp, and I am {}" 
print(b.format(a))

c=185
d=53
e="SRH scored {} runs and won by {} runs"
print(e.format(c,d))

f=185
g=53
h="SRH scored {1} runs and won by {0} runs"
print(h.format(g,f))